#currencyHelpModal.modal.hide.fade{:style => "display: none; "}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Currency?
  .modal-body
    %p
      If you would like to assign hourly rates to different shifts then you may use a currency such as pts/hr or $/hr. This allows you to assign higher rates for less desirable shifts. Leaving the currency blank will means all work will just be tracked in hours.
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close