#noticeHelpModal.modal.hide.fade{:style => "display: none; "}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Event notice?
  .modal-body
    %p
      The event notice will be displayed at the top of each page on your event to grab attention. If there is important info about how people should be registering for your shifts, this is a good place to put it. We recommend limiting this field to 1 sentence- you may refer the user to look over something in the HTML description section below if there is a lot of information.
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close