= render :partial => "main_events/event_header"

%div#calendar

#main_event_events_path{:style => "display:none;"}
  = @events_path

#calendar_view{:style => "display:none;"}
  = @main_event.default_calendar_view || 'agendaDay'

#first_event_date{:style => "display:none;"}
  = @first_event_date