%p
%a{:href => "/auth/twitter"}
  = image_tag "sign_in_twitter.png", :size => "179x30",:alt => "Twitter"
%br
%a{:href => "/auth/facebook"}
  = image_tag "sign_in_facebook.png", :size => "179x30",:alt => "Facebook"
%br
%a{:href => "/auth/google"}
  = image_tag "sign_in_google.png", :size => "179x30",:alt => "Google"
%p