.navbar.navbar-fixed-top
  .navbar-inner
    .container{:style => "width: auto;"}
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path} Event Overlord
      .nav-collapse
        %ul.nav
          %li.active
            =tab "Home", root_path
          %li
            =tab "My Events", main_events_path
        %ul.nav.pull-right
          - if user_signed_in?
            %li
              = link_to('Edit account', edit_user_registration_path)
          - else
            %li
              = tab('Sign up', new_user_registration_path)
          %li.divider-vertical
          - if user_signed_in?
            %li
              = link_to('Logout', destroy_user_session_path, :method=>'delete')
          - else
            %li
              = tab('Login', new_user_session_path)





