.jumbotron
  %h1 Easy Volunteer Shift Managment
  %p.lead 
    = "Event Overlord connects event organizers and coordinators with event workers to reduce work organizing while letting workers pick the shifts they want. We've successfully scheduled #{number_with_delimiter(@hours, :delimiter => ',')} volunteers hours so far, join today!"
  =link_to "Get started today", new_user_registration_path, {class: "btn btn-large btn-success"}
.container-fluid
  .row-fluid
    .span12
      .page-header
        %h2 Event Coordinators:
      .row-fluid
        .span4
          %h3 1. Create a html page
          %p  Add an faq, map and other event details your volunteers and works need to know about.
          %p
            =render :partial => "settings_help_modal"
        .span4
          %h3 2. Add shifts
          %p  Create work shifts for each open position.
          %p
        .span4
          %h3 3. Share the event
          %p  Share your EventOverlord event with your workers and volunteers. They'll pick up the shifts.
          %p
      .page-header
        %h2 Event Workers/Volunteers:
      .row-fluid
        .span4
          %h3 1. Read about event information
          %p The event coordinator will post information and instructions on your event home page.
          %p
        .span4
          %h3 2. Sign up for the events
          %p  Sign up for available event positions through the event list and calendar.
          %p
            =render :partial => "register_help_modal"
  %hr
    %footer
      %p 
        © 
        =link_to("Coshx Labs", "http://www.coshx.com/")
        2013
