.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %h1 Easy Event Management
      .page-header
        %h2 Event Coordinators:
      .row-fluid
        .span4
          %h3 1. Create a html page
          %p  Add an faq, map and other event details your volunteers and works need to know about.
          %p
            =render :partial => "settings_help_modal"
        .span4
          %h3 2. Add events to your calendar
          %p  For each thing happening at your event, create an event on your calendar.
          %p
        .span4
          %h3 3. Share the event
          %p  Share your Event Coordinator event with your workers and volunteers.
          %p
      .page-header
        %h2 Event Workers/Volunteers:
      .row-fluid
        .span4
          %h3 1. Read about event information
          %p The event coordinator will post information and instructions on your event home page.
          %p
        .span4
          %h3 2. Sign up for the events
          %p  Sign up for available event positions through the event list and calendar.
          %p
            =render :partial => "register_help_modal"
  %hr
    %footer
      %p © Coshx Labs 2012
