%h1 New event
= render partial: 'form', locals: {url: "/main_events/#{params[:main_event_id]}/events"}
= link_to 'Back', main_event_event_index_path(@main_event)


=javascript_include_tag "jquery-ui-timepicker-addon"
=javascript_include_tag "datepicker"